<%= form_with model: @sake_form,
              url: @sake_form.sake.present? ? sake_path(@sake_form.sake) : sakes_path,
              method: @sake_form.sake.present? ? :patch : :post,
              local: true do |f| %>

  <div class="flex items-center mb-4">
    <%= f.label :name, "日本酒名", class: "w-32 font-semibold" %>
    <%= f.text_field :name, class: "flex-1 border border-gray-300 rounded-lg p-2 focus:ring focus:ring-blue-200" %>
  </div>
  
  <!-- 一時的にコメントアウト -->
  <!--
  <div class="flex items-center mb-4">
    <%= f.label :prefecture_id, "産地", class: "w-32 font-semibold" %>
    <%=  f.collection_select :prefecture_id, Prefecture.all, :id, :name %>
  </div>
  -->
  <div class="flex items-center mb-4">
    <%= f.label :brewery_name, "酒造会社", class: "w-32 font-semibold" %>
    <%= f.text_field :brewery_name, class: "flex-1 border border-gray-300 rounded-lg p-2 focus:ring focus:ring-blue-200" %>
  </div>
  
  <div class="flex items-center mb-4">
    <%= f.label :sake_meter_value, "日本酒度", class: "w-32 font-semibold" %>
    <%= f.text_field :sake_meter_value, class: "flex-1 border border-gray-300 rounded-lg p-2 focus:ring focus:ring-blue-200" %>
  </div>
  
  <div class="flex items-center mb-4">
    <%= f.label :rating, "総合評価", class: "w-32 font-semibold" %>
    <%= f.number_field :rating, step: 0.1, class: "flex-1 border border-gray-300 rounded-lg p-2 focus:ring focus:ring-blue-200" %>
  </div>
  
  <div class="flex items-center mb-4">
    <%= f.label :taste_tags, "タグ", class: "w-32 font-semibold" %>
    <%= f.text_field :taste_tags, class: "flex-1 border border-gray-300 rounded-lg p-2 focus:ring focus:ring-blue-200" %>
  </div>
  
  <div class="flex items-center mb-6">
    <%= f.label :label_image, "ラベル画像", class: "w-32 font-semibold" %>
    <%= f.file_field :label_image, class: "flex-1" %>
  </div>
  
  <div class="flex items-center mb-4">
    <%= f.label :comment, "メモ", class: "w-32 font-semibold" %>
    <%= f.text_area :comment, class: "flex-1 border border-gray-300 rounded-lg p-2 focus:ring focus:ring-blue-200" %>
  </div>
  
  <div>
    <% submit_label = f.object.sake.present? ? "更新する" : "登録する" %>
    <%= f.submit submit_label, class: "w-full bg-blue-700 hover:bg-blue-800 text-white font-bold py-2 px-4 rounded-lg" %>
  </div>
<% end %>
