<%= render 'shared/error_messages', resource: sake_form %>
<%= form_with model: @sake_form,
              url: @sake_form.sake.present? ? sake_path(@sake_form.sake) : sakes_path,
              method: @sake_form.sake.present? ? :patch : :post,
              local: true,
              data: { controller: "autocomplete" } do |f| %>

  <div class="flex justify-center gap-4 mb-4">
    <label class="cursor-pointer">
      <%= f.radio_button :status, :published, class: "hidden peer" %>
        <span class="px-6 py-2 rounded-full border bg-white text-gray-700 peer-checked:bg-blue-500 peer-checked:text-white peer-checked:border-blue-500 transition">
          飲んだ
        </span>
    </label>
              
    <label class="cursor-pointer">
      <%= f.radio_button :status, :draft, class: "hidden peer" %>
        <span class="px-6 py-2 rounded-full border bg-white text-gray-700 peer-checked:bg-blue-500 peer-checked:text-white peer-checked:border-blue-500 transition">
          飲みたい
        </span>
    </label>
  </div>

  <div class="flex items-center mb-4">
    <%= f.label :name, "日本酒名", class: "w-32 font-semibold" %>
    <div class="flex-1 relative" data-controller="sake-autocomplete">

      <%= f.text_field :name,
        autocomplete: "off",
        class: "w-full border border-gray-300 rounded-lg p-2 focus:ring focus:ring-blue-200",
        data: {
          action: "input->sake-autocomplete#search",
          sake_autocomplete_target: "input"
        } %>

      <ul data-sake-autocomplete-target="results"
        class="absolute z-50 w-full bg-white border border-gray-300 rounded-lg mt-1 hidden max-h-40 overflow-y-auto">
      </ul>

    </div>
  </div>

  <div class="flex items-center mb-4">
    <%= f.label :prefecture_id, "産地", class: "w-32 font-semibold" %>
    <%=  f.collection_select :prefecture_id, Prefecture.all, :id, :name %>
  </div>

  <div class="flex items-center mb-4">
    <%= f.label :brewery_name, "酒造会社", class: "w-32 font-semibold" %>

    <div class="flex-1 relative" data-controller="brewery-autocomplete">

      <%= f.text_field :brewery_name,
        autocomplete: "off",
        class: "w-full border border-gray-300 rounded-lg p-2 focus:ring focus:ring-blue-200",
        data: {
          action: "input->brewery-autocomplete#search",
          brewery_autocomplete_target: "input"
        } %>

      <ul data-brewery-autocomplete-target="results"
        class="absolute z-50 w-full bg-white border border-gray-300 rounded-lg mt-1 hidden max-h-40 overflow-y-auto">
      </ul>

    </div>
  </div>
  
  <div class="flex items-center mb-4">
    <%= f.label :sake_meter_value, "日本酒度", class: "w-32 font-semibold" %>
    <%= f.select :sake_meter_sign,
      [["＋", "+"], ["－", "-"]],
      { include_blank: "" },
      class: "border rounded px-2 py-2 w-16" %>
    <%= f.number_field :sake_meter_number,
      min: 0,
      class: "border rounded px-3 py-2 w-24",
      placeholder: "数値" %>
  </div>
  
  <div class="flex items-center mb-4">
    <%= f.label :rating, "総合評価", class: "w-32 font-semibold" %>
    <%= f.number_field :rating, in: 1..10, step: 1, class: "flex-1 border border-gray-300 rounded-lg p-2 focus:ring focus:ring-blue-200" %>
  </div>
  
  <div class="flex items-center mb-4">
    <%= f.label :taste_tags, "タグ", class: "w-32 font-semibold" %>
    <%= f.text_field :taste_tags, class: "flex-1 border border-gray-300 rounded-lg p-2 focus:ring focus:ring-blue-200" %>
  </div>
  
  <!-- 一時的にコメントアウト -->
  <!--
  <div class="flex items-center mb-6">
    <%= f.label :label_image, "ラベル画像", class: "w-32 font-semibold" %>
    <%= f.file_field :label_image, class: "flex-1" %>
  </div>
  -->
  
  <div class="flex items-center mb-4">
    <%= f.label :comment, "メモ", class: "w-32 font-semibold" %>
    <%= f.text_area :comment, class: "flex-1 border border-gray-300 rounded-lg p-2 focus:ring focus:ring-blue-200" %>
  </div>
  
  <div>
    <% submit_label = f.object.sake.present? ? "更新する" : "登録する" %>
    <%= f.submit submit_label, class: "w-full bg-blue-700 hover:bg-blue-800 text-white font-bold py-2 px-4 rounded-lg" %>
  </div>
<% end %>
