<div class="max-w-5xl mx-auto mb-10">
  <div class="bg-white rounded-2xl shadow-sm p-6">
    <%= search_form_for @q, url: sakes_path, method: :get do |f| %>
      <div class="flex gap-6">
        <div class="flex flex-col flex-1">
          <%= f.label :name_cont, "日本酒名", class: "mb-1" %>
          <div class="flex-1 relative" data-controller="sake-autocomplete">
            <%= f.search_field :name_cont,
              autocomplete: "off",
              class: "border rounded px-3 py-2",
              data: {
                action: "input->sake-autocomplete#search",
                sake_autocomplete_target: "input"
              } %>
            <ul data-sake-autocomplete-target="results"
              class="absolute z-50 w-full bg-white border mt-1 rounded hidden max-h-40 overflow-y-auto">
            </ul>
          </div>
        </div>
        <div class="flex flex-col flex-1">
          <%= f.label :brewery_prefecture_id_eq, "産地", class: "mb-1" %>
          <%= f.collection_select :brewery_prefecture_id_eq,
            Prefecture.order(:id),
            :id,
            :name,
            { include_blank: "産地を選択" },
            class: "border rounded px-3 py-2"
          %>
        </div>
        <div class="flex flex-col flex-1">
          <%= f.label :brewery_name_cont, "酒蔵会社", class: "mb-1"  %>
          <div class="flex-1 relative" data-controller="brewery-autocomplete">
            <%= f.search_field :brewery_name_cont,
              autocomplete: "off",
              class: "border rounded px-3 py-2",
              data: {
                action: "input->brewery-autocomplete#search",
                brewery_autocomplete_target: "input"
              } %>
            <ul data-brewery-autocomplete-target="results"
              class="absolute z-50 w-full bg-white border mt-1 rounded hidden max-h-40 overflow-y-auto">
            </ul>
          </div>
        </div>
        <div class="flex flex-col flex-1">
          <%= f.label :taste_tags_name_cont, "タグ", class: "mb-1"  %>
          <div class="flex-1 relative" data-controller="taste-tag-autocomplete">
            <%= f.search_field :taste_tags_name_cont,
              autocomplete: "off",
              class: "border rounded px-3 py-2",
              data: {
                action: "input->taste-tag-autocomplete#search",
                taste_tag_autocomplete_target: "input"
              } %>
            <ul data-taste-tag-autocomplete-target="results"
              class="absolute z-50 w-full bg-white border mt-1 rounded hidden max-h-40 overflow-y-auto">
            </ul>
          </div>
        </div>
        <%= f.submit "検索", class: "btn btn-primary w-full" %>
      </div>
    <% end %>
  </div>
</div>

<div class="text-center mb-8">
  <h1 class="text-3xl font-bold">日本酒一覧</h1>
</div>

<div class="flex justify-end items-center space-x-3 text-lg font-medium">
  <%= link_to "飲みたいリスト →", drafts_sakes_path, class: "font-medium hover:underline" %>
</div>

<div class="flex justify-end mb-4">
  <%= sort_link(@q, :created_at, "登録日順", default_order: :desc) %>
</div>

<div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
  <%= render partial: "sakes/sake_card",
             collection: @sakes,
             as: :sake %>
</div>

<div class="mt-6 flex justify-center">
  <%= paginate @sakes %>
</div>
