<h2 class="text-2xl font-bold mb-6 text-center">サインイン</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="mb-4">
    <%= f.label :email, "メールアドレス", class: "block font-semibold mb-2" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "w-full border border-gray-300 rounded-lg p-2 focus:ring focus:ring-blue-200" %>
  </div>

  <div class="mb-4">
    <%= f.label :password, "パスワード", class: "block font-semibold mb-2" %>
    <%= f.password_field :password, autocomplete: "current-password", class: "w-full border border-gray-300 rounded-lg p-2 focus:ring focus:ring-blue-200" %>
  </div>

  <div class="actions">
    <%= f.submit "サインイン", class: "w-full bg-blue-800 hover:bg-blue-900 text-white font-bold py-2 px-4 rounded" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
