<!DOCTYPE html>
<html lang="ja">
  <head>
    <title><%= content_for(:title) || "Myapp" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body class="bg-blue-50 text-blue-900 font-sans leading-relaxed text-base">
    <%= render 'shared/header' %>

    <main class="min-h-screen flex items-center justify-center">
      <% if controller_name == "sakes" %>
        <!-- 日本酒登録画面など：横幅広め -->
        <div class="w-full max-w-3xl bg-white p-10 rounded-xl shadow-lg">
          <%= yield %>
        </div>
      <% else %>
        <!-- ログイン・新規登録など：小さめカード -->
        <div class="w-full max-w-md bg-white p-8 rounded-lg shadow-lg">
          <%= yield %>
        </div>
      <% end %>
    </main>
  </body>
</html>
